.dockerignore
.env
.vscode/
/web/
Dockerfile
Dockerfile.dev
dist/
docker-compose.yml
mesos-term-*.tgz
node_modules
private/
scripts/deploy_dockerhub.sh
tests/noadmin/docker-compose.override.yml
tests/noauth/docker-compose.override.yml
tests/resources/Dockerfile.slave
tests/standard/docker-compose.override.yml
tests/taskadmins/docker-compose.override.yml
