@font-face {
  font-family: inconsolata;
  src: url(fonts/Inconsolata-Regular.ttf);
}

body, html {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

.term {
  position: absolute;
  width: 100%;
  height: 90%;
}

@media screen and (min-height: 320px) {
  .term {
    height: 96%;
  }
}

@media screen and (min-height: 480px) {
  .term {
    height: 97%;
  }
}

#terminal-container {
  width: 100%;
  height: 100%;
}

#terminal-container .terminal {
  padding-bottom: 4px;
}

#terminal-container .terminal .xterm-rows {
  z-index: 10;
}

.status-bar {
  background-color: #004561;
  position: absolute;
  bottom: 0px;
  color: white;
  width: 100%;
  height: 25px;
  font-weight: bold;
  font-family: inconsolata;
}

.status-bar div {
  display: inline-block;
  height: 25px;
  padding: 0px 8px;
}

.status-bar div span {
  display: table-cell;
  height: 25px;
  vertical-align: middle;
}

.status-bar .icon {
  margin-right: 6px;
}

.status-bar .task_id a {
  color: white;
  text-decoration: none;
}

.status-bar .task_id a:hover {
  color: #cccccc;
}

.status-bar .copy-btn {
  padding: 0;
  height: 0px;
}

.status-bar .brand {
  float: right;
  background: #2eaadc;
  border-left: 2px solid black;
}

.status-bar .brand a {
  color: white;
  text-decoration: none;
}

.status-bar .brand a:hover {
  color: #cccccc;
}

.background-watermark {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  padding: 20px;
  color: white;
  text-align: center;
  opacity: 0.3;
}

/*
 * Mesos colors
 * light blue: #2eaadc
 * dark blue: #004561
 */
.background-watermark img {
  width: 400px;
}

.connection-closed-splash {
  width: 300px;
  height: 100px;
  background: #ff0000de;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -50px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 1.3em;
  display: none;
  z-index: 20;
}

.connection-closed-splash span {
  display: table-cell;
  height: 100px;
  vertical-align: middle;
}

.connection-closed-splash .icon {
  width: 64px;
  height: 64px;
  float: left;
}


/* Tooltip */

/* setup tooltips */
.tooltip {
  position: relative;
}
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.tooltip:before {
  background: #2eaadc;
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
  top: -30px;
  white-space: nowrap;
}

/* the animations */

/* fade */
.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all .05s ease-in-out;
}
.tooltip.fade.click:after,
.tooltip.fade.click:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}


/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #004561;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #147298;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2eaadc;
}
