<!doctype html>
<html>
    <head>
        <title><%= task_id %></title>
        <link rel="stylesheet" href="/static/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/xterm.css" />
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="shortcut icon" href="/static/ico/favicon.ico">
    </head>
    <body>
        <div class="container">
          <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">Mesos Term </a>
          </nav>
          <div id="terminal-container" data-taskid="<%= task_id %>"></div>
        </div>
        <script src="static/jquery-3.3.1.min.js"></script>
        <script src="static/bootstrap.bundle.min.js"></script>
        <script src="static/xterm.js" ></script>
        <script src="static/addons/attach/attach.js" ></script>
        <script src="static/addons/fit/fit.js" ></script>
        <script src="static/addons/fullscreen/fullscreen.js" ></script>
        <script src="static/main.js"></script>
    </body>
</html>
