<!doctype html>
<html>
  <head>
    <title>MesosTerm</title>
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
  </head>
  <body>
    <p>Please provide a task ID as shown in the image.</p>
    <img class="helper" src="/static/images/helper.png" alt="url with task id"></img> 
  </body>
</html>
