body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: roboto;
  src: url(./assets/fonts/RobotoMono-Regular.ttf);
}

.xterm {
  padding: 8px;
  font-family: inconsolata;
}

.xterm-viewport {
  overflow-y: hidden;
}

.hidden {
  display: none;
}